# Ambientes Virtuais
.venv/
venv/
ENV/

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos do Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Arquivo de segredos locais
.env